    /*This style is needed only for the plugin demo page. Do not use it in your projects*/
    .credits{
        text-align:center;padding:20px;margin-top:10px;font-size:12px;
    }
    body{ 
    }
    a{color: #0088cc;text-decoration: none;}
    a:hover,a:focus {color: #005580;text-decoration: underline;}
    .muted {color: #999999;}
    .container10 {display:inline-block;width:480px;}
